fake-useragent==0.1.11
pyquery==1.4.0
PySocks==1.6.8
pysrt==1.1.1
pytz==2018.5
PyYAML==3.13
queuelib==1.5.0
requests==2.19.1
scrapinghub==2.1.0
Scrapy==1.8.2
scrapy-crawlera==1.5.0
shub==2.8.2
six==1.11.0
tornado==4.5.3
Twisted==18.9.0
urllib3==1.23

